<h1>Create a Bench </h1>

<%= form_for @bench, :html => {:multipart => true} do |f| %>

  <%= f.select :location_id, @locations.map{|l| [l.name, l.id]} %>
  <div>
  <%= f.label :description %>
  <%= f.text_area :description %>
  </div>
    <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <%= f.submit :id => 'commit' %>
<% end %>